$clr-neutral-000:   #000000;
$clr-neutral-100:   #1a1a1a;
$clr-neutral-200:   #333333;
$clr-neutral-300:   #4d4d4d;
$clr-neutral-400:   #666666;
$clr-neutral-500:   #808080;
$clr-neutral-600:   #999999;
$clr-neutral-700:   #b3b3b3;
$clr-neutral-800:   #cccccc;
$clr-neutral-900:   #e6e6e6;
$clr-neutral-1000:  #ffffff;

$clr-main-100: hsl(244, 19%, 15%);
$clr-main-400: hsl(210, 63%, 38%);
$clr-main-600: hsl(211, 100%, 88%);
$clr-main-700: hsl(196, 22%, 90%);
$clr-main-800: hsl(208, 48%, 95%);